# Dependencies
/node_modules
/frontend/node_modules

# Env and config files
/backend/config/config.env
.env

# Uploaded files
/backend/uploads/

# Build files
/frontend/build
/dist

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS junk
.DS_Store
Thumbs.db

# Misc
.idea/
.vscode/
