# Dependencies
/node_modules
/frontend/node_modules

# Configuration file with secrets
/backend/config/config.env
/frontend/.env

# Uploaded media
/backend/uploads/

# Build folder (if you create one)
/frontend/build

# Log files
*.log
